
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root {
    /* resolutions */
    --mobile: 375px;
    --desktop: 1440px;

    /* primary colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* typography */
    --fz-p: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

body {
    background-color: var(--cream);
}

p{
    font-size: var(--fz-p);
    font-weight: 100;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 1rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1rem;
}

.image-div {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    overflow: clip;
}

.content-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.title-sm {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 4px;
}

img:first-child{
    width: 100%;

}


.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.price .main {
    width: max-content;
    color: var(--dark-cyan);
}

.price .striked {
    text-decoration: line-through;
    color: #999;
    font-weight: 100;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark-cyan);
    padding: 1rem 0;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    width: 100%;
}

button > p {
    font-size: 18px;
    color: white;
}

button > img {
    width: 20px;
    height: 20px;
    flex-basis: content;
    color: white;
}